In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [4]:
tips_data = pd.read_csv("/content/tips.csv")

In [ ]:
tips_data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

**Checking the volume of customers in different days**

In [5]:
df = pd.crosstab(tips_data['day'],tips_data['time'])

Checking the data

In [6]:
df.head()

time  Dinner  Lunch
day
Fri       12      7
Sat       87      0
Sun       76      0
Thur       1     61

In [7]:
Observed_values = df.values

Calculating Expected values based on Chi Square Formula

In [8]:
val = stats.chi2_contingency(df)
val

(217.1126728434853,
 8.449897551777147e-47,
 3,
 array([[13.70491803,  5.29508197],
        [62.75409836, 24.24590164],
        [54.81967213, 21.18032787],
        [44.72131148, 17.27868852]]))

In [9]:
Expected_values = val[3]

Calculating degree of freedom

In [10]:
alpha_value = 0.05
degree_of_freedom = (len(df.index)-1)*(len(df.columns)-1)
print("Degree of Freedom :",degree_of_freedom)
print("Alpha Value :",alpha_value)

Degree of Freedom : 3
Alpha Value : 0.05

Calculating Chi Square value

In [11]:
chi_square = sum([(o-e)**2./e for o,e in zip(Observed_values,Expected_values)])
chi_square_statistic = chi_square[0] + chi_square[1]
print("Chi Square Statistic :",chi_square_statistic)

Chi Square Statistic : 217.1126728434853

Calculating P value

In [12]:
p_value = 1-stats.chi2.cdf(x=chi_square_statistic,df=degree_of_freedom)
print("P value :",p_value)

P value : 0.0

In [22]:
if p_value <= alpha_value:
  print("The volume of customers in all the days is different")
else:
  print("The voume of customers in all the days is same")

The volume of customers in all the days is different

**Checking the tip paid by Male and Female**

In [14]:
person = tips_data['sex']
tips = tips_data['tip']

In [15]:
male_tip = person == 'Male'
female_tip = person == 'Female'

In [16]:
male_tip_score = tips[male_tip].dropna()
female_tip_score = tips[female_tip].dropna()

Calculating T test value and p value

In [17]:
T_val,p_val=stats.ttest_ind(male_tip_score,female_tip_score)
print("T test value is :",T_val)
print("P value is :",p_val)

T test value is : 1.3878597054212687
P value is : 0.16645623503456763

In [23]:
if p_val <= 0.05:
  print("Average tip paid by male and female is different")
else:
  print("Average tip paid by male and female is same")

Average tip paid by male and female is same

**Checking relation between total bill and size of the group**

In [19]:
corr_value,p = stats.pearsonr(tips_data['total_bill'],tips_data['size'])
print("Correlation value is :",corr_value)
print("P value is :",p)

Correlation value is : 0.5983151309049013
P value is : 4.393510142477069e-25

In [20]:
if p <= 0.05:
  print("There is linear relation between the Total Bill and size of thr group")
else:
  print("There is no linear relation between the Total bill and size of the group")

There is linear relation between the Total Bill and size of thr group